font {
	line-height: 1.7em;
	font-family: "serif, helveticaNeue";
	font-size: 0.83em;
}

.div-bar {
	width: 100%;
	margin: 10px 0px;
	border-top: 1px solid #ccc;
}

.big-font {
	font-size: 1.85em;
}

.medium-font {
	font-size: 1.4em;
}

.main {
	width: 600px;
	margin: 100 auto;
}

.gray {
  color: #aaa;
}

.text-right {
	text-align: right;
}

.float {
	margin-top: 20px;
	width: 290px;
	float: left;
}

.casm {
	width: 20px;
}

.float-box-large {
	height: 35em;
}

.float-box-small {
	height: 18em;
}

.helvetica {
	font-family: "helvetica";
}

