body {
  -webkit-font-smoothing: antialiased;
}
.main {
	width: 500px;
	margin: 100 auto;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(145, 148, 153);
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: justify;
  vertical-align: baseline;
  display: block;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-style: none;
  border-bottom: 1px dotted rgb(145, 148, 153);
  color: rgb(145, 158, 153);
}

a:visited {
  color: rgb(145, 158, 153);
}

a:hover {
  color: rgb(145, 158, 153);
}

img {
  width: 300px;
}

b {
  color: rgb(72, 77, 85);
}
